.about {
  padding: 30px 0px 40px 0px;
  width: 100%;
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
}

.about__title {
  color: #bfd1c5;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 130px;
  text-align: left;
  width: 100%;
  line-height: 1;
  padding-left: 10%;
  align-self: center;
}

.about__text {
  width: 700px;
  max-width: 90%;
  font-weight: 400;
  font-size: 25px;
  color: #465559;
}

.about__parr {
  display: block;
  margin-bottom: 15px;
  line-height: 1.3;
}
