.decorativeBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
}

.decorativePolygon {
  background-image: url("../images/hexagonoverde.svg");
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0;
  animation: move 24s ease infinite;
  z-index: -1;
}

.decorativePolygonFour {
  background-image: url("../images/hexagonoverde.svg");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0;
  animation: move 18s ease infinite;
  z-index: -1;
}

.decorativePolygonTwo {
  background-image: url("../images/hexagonorosa.svg");
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0;
  animation: moveTwo 22s ease infinite;
  z-index: -1;
}

.decorativePolygonFive {
  background-image: url("../images/hexagonorosa.svg");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0;
  animation: moveTwo 19s ease infinite;
  z-index: -1;
}

.decorativePolygonThree {
  background-image: url("../images/hexagonogris.svg");
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0;
  animation: moveThree 22s ease infinite;
  z-index: -1;
}

.decorativePolygonSix {
  background-image: url("../images/hexagonogris.svg");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 30vw;
  opacity: 0;
  animation: moveTwo 15s ease infinite;
  z-index: -1;
}

@keyframes move {
  0% {
    opacity: 0.2;
    top: -10%;
    left: -10%;
    transform: rotate(120deg);
  }
  10% {
    opacity: 0.7;
    top: -10%;
    left: -10%;
  }
  25% {
    opacity: 0.2;
    top: -10%;
    left: -10%;
  }
  35% {
    opacity: 0.2;
    top: 23%;
    left: 50%;
    transform: rotate(1240deg);
  }
  50% {
    opacity: 0.7;
    top: 23%;
    left: 50%;
  }
  60% {
    opacity: 0.2;
    top: 23%;
    left: 50%;
  }
  75% {
    opacity: 0.2;
    top: -20%;
    left: 53%;
    transform: rotate(360deg);
  }
  85% {
    opacity: 0.7;
    top: -20%;
    left: 53%;
  }
  95% {
    opacity: 0.2;
    top: -20%;
    left: 53%;
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes moveTwo {
  0% {
    opacity: 0.2;
    top: 30%;
    left: 0%;
    transform: rotate(700deg);
  }
  10% {
    opacity: 0.7;
    top: 30%;
    left: 0%;
  }
  25% {
    opacity: 0.2;
    top: 30%;
    left: 0%;
  }
  35% {
    opacity: 0.2;
    top: 0%;
    left: 40%;
    transform: rotate(120deg);
  }
  50% {
    opacity: 0.7;
    top: 0%;
    left: 40%;
  }
  60% {
    opacity: 0.2;
    top: 0%;
    left: 40%;
  }
  75% {
    opacity: 0.2;
    top: 10vh;
    left: 10%;
    transform: rotate(240deg);
  }
  85% {
    opacity: 0.7;
    top: 10vh;
    left: 10%;
  }
  100% {
    opacity: 0.2;
    top: 10vh;
    left: 10%;
    transform: rotate(360deg);
  }
}

@keyframes moveThree {
  0% {
    opacity: 0.2;
    transform: translate(-30vw, 43vh) rotate(120deg);
  }
  10% {
    opacity: 0.7;
    transform: translate(-30vw, 43vh);
  }
  25% {
    opacity: 0.2;
    transform: translate(-30vw, 43vh);
  }
  35% {
    opacity: 0.2;
    transform: translate(-20vw, 20vh) rotate(240deg);
  }
  50% {
    opacity: 0.7;
    transform: translate(-20vw, 20vh);
  }
  60% {
    opacity: 0.2;
    transform: translate(10vw, -10vh);
  }
  75% {
    opacity: 0.2;
    transform: translate(0vw, 0vh) rotate(360deg);
  }
  85% {
    opacity: 0.7;
    transform: translate(0vw, 0vh);
  }
  100% {
    opacity: 0.2;
    transform: translate(0vw, 0vh) rotate(-180deg);
  }
}

@keyframes moveMini {
  0% {
    opacity: 0.2;
    transform: translate(-30vw, 43vh) rotate(120deg);
  }
  10% {
    opacity: 0.5;
    transform: translate(-30vw, 43vh);
  }
  25% {
    opacity: 0.2;
    transform: translate(-30vw, 43vh);
  }
  35% {
    opacity: 0.2;
    transform: translate(-20vw, 20vh) rotate(240deg);
  }
  50% {
    opacity: 0.5;
    transform: translate(-20vw, 20vh);
  }
  60% {
    opacity: 0.2;
    transform: translate(10vw, -10vh);
  }
  75% {
    opacity: 0.2;
    transform: translate(0vw, 0vh) rotate(360deg);
  }
  85% {
    opacity: 0.5;
    transform: translate(0vw, 0vh);
  }
  100% {
    opacity: 0.2;
    transform: translate(0vw, 0vh) rotate(-180deg);
  }
}

.decorativeMiniPolygonsPink {
  background-image: url("../images/hexagonorosa.svg");
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0;
  animation: moveMini 40s ease alternate infinite;
  z-index: -1;
}

.decorativeMiniPolygonsGreen {
  background-image: url("../images/hexagonoverde.svg");
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0;
  animation: moveMini 40s ease alternate infinite;
  z-index: -1;
}
