.decorativePolygonProjects {
  width: 0px;
  height: 0px;
  position: absolute;
  left: -50px;
  border-top: 100vh solid #dfe0e0;
  border-left: 150vw solid transparent;
  border-right: 70vh solid transparent;
  z-index: -1;
}
