.decorativePolygonAbout {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: 55vh solid transparent;
  border-left: 60vw solid #ffd6d4;
  border-bottom: 45vh solid transparent;
  z-index: -1;
}

.about__image {
  object-fit: cover;
  height: 130vh;
  position: absolute;
  overflow: hidden;
  top: -50px;
  right: 0px;
  opacity: 0.36;
  z-index: -1;
}
