.decorativePolygonProjects {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: 70vh solid #dfe0e0;
  border-left: 100vw solid transparent;
  border-right: 0px solid transparent;
  z-index: -1;
}
