.decorativePolygon {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: 70vh solid #dfe0e0;
  border-left: 100vw solid transparent;
  border-right: 0px solid transparent;
  z-index: -1;
}

.decorativePolygonTwo {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: 55vh solid transparent;
  border-left: 60vw solid #bfd1c5;
  border-bottom: 45vh solid transparent;
  z-index: -1;
}
