@import "./variables.scss";

.contact {
  height: 92vh;
  width: 100%;
  display: grid;
  grid-template-columns: 55% 35% 10%;
  grid-template-rows: 20% 5% 40% 35%;
  padding: 4vh;
  &__title {
    color: $color-secondary;
    border: 3px solid $color-tertiary;
    font-size: 15vh;
    line-height: 1.1;
    grid-row: 1/2;
    grid-column: 1/5;
    width: 100%;
    border-radius: 15px;
    align-self: flex-start;
    text-align: center;
    &ACC {
      color: #37493d;
    }
  }
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid $color-tertiary;
    height: fit-content;
    width: 94%;
    padding: 1vw;
    grid-column: 2/3;
    grid-row: 4/5;
    border-radius: 15px;
    justify-self: flex-end;
    align-self: flex-end;
    height: 100%;
  }
  &__subtitle {
    color: $color-tertiary-dark;
    font-size: 4vh;
    text-align: right;
    margin-bottom: 1vh;
    &ACC {
      color: #537070;
    }
  }
  &__text {
    color: #a65b69d5;
    line-height: 1;
    font-family: "Architects Daughter", cursive;
    font-weight: 300;
    font-size: 2.4vh;
    margin-bottom: 1vh;
    &ACC {
      color: #506464;
    }
  }
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &ACC {
      color: #506464;
    }
    &Item {
      margin-top: 0.5vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 2vh;
    }
  }
  &__logoImg {
    width: 3vw;
    height: 4vh;
    transition: all linear 1s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.contact__menuList-access {
  text-decoration: none;
  color: $color-secondary;
  text-align: center;
  align-items: center;
  width: min-content;

  &ACC {
    color: #506464;
  }
}

.contact__menu-home {
  cursor: pointer;
  list-style-type: none;
  text-transform: uppercase;
  grid-column: 3/4;
  grid-row: 4/5;
  transition: all ease 1s;
  background-color: $color-neutral-lowOpacity;
  border-radius: 15px;
  height: min-content;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: flex-end;
  &:hover {
    transform: scaleX(1.2);
    background-color: $color-secondary;
    color: $color-neutral-auxiliar;
  }

  &ACC {
    background-image: url("../images/Menus/longArrowRightACC.svg");
  }
}

.contactLink__menu-home {
  text-decoration: none;
  color: $color-secondary;
  font-size: 4.5vh;
  background-image: url("../images/Menus/longArrowRight.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-size: 5vh;
  background-position-y: 23vh;
  padding-right: 2vw;
  padding: 20vh 1.5vw 20vh 0px;
  &:hover {
    color: $color-neutral-auxiliar;
    background-image: url("../images/Menus/longArrowRightHover.svg");
  }
  &ACC {
    color: $color-tertiary-dark;
  }
}

.contact_trajectory {
  display: flex;
  flex-direction: column;
  grid-row: 3/5;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  background-color: $color-tertiary;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 3vh;
  overflow: hidden;
  &Title {
    color: $color-tertiary-dark;
    font-size: 4vh;
    margin-bottom: 2vh;
  }
  &Container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-self: center;
  }
  &Item {
    font-family: "Architects Daughter", cursive;
    list-style-type: none;
    color: $color-secondary;
    background-color: $color-neutral-lowOpacity;
    transition: all ease 1s;
    font-size: 2.4vh;
    cursor: pointer;
    padding: 1vh;
    width: 8vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    align-self: flex-start;
    text-align: center;
    justify-content: center;
    &:hover {
      transform: scale(1.2);
      background-color: $color-secondary;
      color: $color-neutral-auxiliar;
    }
  }
  &Content {
    font-family: "Architects Daughter", cursive;
    font-weight: 300;
    font-size: 2.3vh;
    width: 100%;
    color: $color-secondary-fullOpacity;
    border-radius: 15px;
    margin-top: 2vh;
    padding: 2vh;
    border: 2px solid $color-secondary;
  }
}

//Styles for text container changing styles:

.contact_trajectoryContentACC {
  background-color: #e3e4e5;
  color: black;
}

.item_hovered {
  transform: scale(1.2);
  background-color: $color-secondary;
  color: $color-neutral-auxiliar;
}

.contact__hobbies {
  color: $color-secondary-fullOpacity;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  grid-row: 3/4;
  grid-column: 2/4;
  justify-self: flex-end;
  align-self: flex-start;
  background-color: $color-tertiary;
  border-radius: 15px;
  padding: 3vh;
  width: 95%;
  height: 90%;
  overflow: hidden;
  &Title {
    color: $color-tertiary-dark;
    font-size: 4vh;
    width: 100%;
    padding: 1vh 3vw;
    overflow-wrap: break-word;
  }
  &About {
    font-family: "Architects Daughter", cursive;
    font-weight: 300;
    font-size: 2.4vh;
    width: 100%;
  }
  &Text {
    font-family: "Architects Daughter", cursive;
    font-weight: 300;
    font-size: 2.4vh;
    width: 100%;
  }
  &ACC {
    background-image: url("../images/Hexagons/hexagonACC.svg");
    color: black;
    text-align: left;
    padding: 10% 10vw 10% 11vw;
  }
}

@media all and (max-width: 1024px) {
  .contact {
    grid-template-columns: 100%;
    grid-template-rows: 15% 45% 20% 20%;
    padding: 0px 3vw;
    &__title {
      font-size: 11vh;
      text-align: center;
      align-self: center;
      grid-row: 1/2;
      grid-column: 1/2;
    }
    &__section {
      width: 50vw;
      height: 95%;
      grid-column: 1/2;
      grid-row: 4/5;
      justify-self: start;
      align-self: start;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__subtitle {
      font-size: 2.5vh;
    }
    &__text {
      font-size: 1.4vh;
    }
    &__list {
      width: 90%;
      align-self: center;
      &Item {
        font-size: 1.4vh;
      }
    }
  }

  .contact__menu-home {
    top: 0px;
    right: 7vw;
    width: 15vw;
    height: 91%;
    background-size: 5vw;
    display: flex;
    align-items: flex-end;
  }

  .contactLink__menu-home {
    font-size: 4.5vh;
  }

  .contact_trajectory {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    width: 100%;
    height: min-content;
    margin: 0vh 0px 0px 0px;
    padding: 0px;
    align-self: flex-start;
    &Title {
      font-size: 2.5vh;
    }
    &Content {
      font-size: 1.4vh;
    }
    &Item {
      width: 8vw;
      height: 5vh;
      font-size: 1.4vh;
    }
  }

  .contact__hobbies {
    font-size: 1.8vw;
    background-image: none;
    width: 100%;
    padding: 0px;
    grid-row: 3/4;
    justify-self: end;
    align-self: center;
    grid-column: 1/2;
    margin-top: 0px;
    &Title {
      font-size: 2.5vh;
      margin-bottom: 0vh;
      background-image: none;
    }
    &About {
      font-size: 1.4vh;
      width: 100%;
    }
    &Text {
      font-size: 1.4vh;
      width: 100%;
      margin-bottom: 0.5vh;
    }
  }
}

@media all and (max-width: 420px) {
  .contact {
    grid-template-rows: 15% 45% 20% 20%;
    padding: 0px 3vw 0vh 3vw;
    &__section {
      width: 60%;
      grid-row: 4/5;
    }
    &__subtitle {
      font-size: 2.5vh;
    }
    &__text {
      font-size: 1.3vh;
      margin-bottom: 0px;
    }
    &__list {
      &Item {
        font-size: 2vw;
      }
    }
  }
  .contact_trajectory {
    align-self: flex-start;
    &Title {
      font-size: 5vw;
    }
    &Content {
      font-size: 2.3vw;
      border: 2px dashed #2f68687e;
      padding: 5px;
    }
    &Item {
      width: 8vw;
      height: 4vh;
      font-size: 2.3vw;
    }
  }

  .contact__hobbies {
    font-size: 1.9vw;
    max-height: 100%;
    grid-row: 3/4;
  }
}
