@import "./variables.scss";

.contact {
  height: 100vh;
  width: 100vw;
  &__section {
    display: flex;
    flex-direction: column;
    background-color: $color-tertiary;
    padding: 15px;
    width: 25%;
    position: absolute;
    right: 30px;
    bottom: 50px;
    z-index: 99;
    border-radius: 10px;
  }
  &__title {
    color: $color-secondary;
    font-weight: 900;
    font-size: 6em;
    line-height: 1.4;
    align-self: flex-start;
    width: 100%;
    z-index: 99;
    margin-left: 10%;
    &ACC {
      color: #37493d;
    }
  }
  &__subtitle {
    color: $color-secondary;
    font-weight: 700;
    display: block;
    line-height: 1.5;
    font-size: 2em;
    text-align: right;
    margin-bottom: 10px;

    &ACC {
      color: #537070;
    }
  }
  &__text {
    color: $color-secondary;
    font-weight: 600;
    display: block;
    line-height: 1;
    margin-bottom: 20px;
    &ACC {
      color: #506464;
    }
  }
  &__list {
    list-style-type: none;
    color: $color-secondary;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    &ACC {
      color: #506464;
    }
    &Item {
      margin-top: 5px;
      @media all and (min-width: 768px) {
        display: flex;
        flex-direction: column;
      }
    }
    &Github {
      @media all and (min-width: 768px) {
        grid-column: 1/2;
      }
    }
    &Linkedin {
      @media all and (min-width: 768px) {
        grid-column: 2/3;
      }
    }
    &Mail {
      @media all and (min-width: 768px) {
        grid-column: 3/4;
      }
    }
    &Twitter {
      @media all and (min-width: 768px) {
        grid-column: 4/5;
      }
    }
  }
  &__logoImg {
    width: 30px;
    height: 40px;
    transition: all linear 2s;
    &:hover {
      transform: rotateY(180deg);
    }
  }
  &__image {
    width: 180px;
    grid-column: 2/3;
    grid-row: 1/4;
  }
}

.contact__menuList-access {
  text-decoration: none;
  color: $color-secondary;
  display: block;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  &:hover {
    color: #465559;
  }
  @media all and (min-width: 768px) {
    align-items: center;
  }
  &ACC {
    color: #506464;
  }
}

.contact__menu-home {
  list-style-type: none;
  text-transform: uppercase;
  position: absolute;
  right: 30px;
  top: 41vh;
  transition: all ease 1s;
  align-self: center;
  z-index: 99;
  &:hover {
    transform: scale(1.2);
  }
}

.contactLink__menu-home {
  text-decoration: none;
  color: $color-secondary;
  font-weight: 700;
  font-size: 25px;
  background-image: url("../images/long-arrow-alt-right-solid.svg");
  background-repeat: no-repeat;
  background-position-x: 43px;
  background-position-y: 25px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-size: 27px;
}

.contact_trajectory {
  width: 90%;
  padding: 20px 0px 20px 15%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &Container {
    display: flex;
  }
  &Item {
    list-style-type: none;
    color: $color-primary;
    transition: all ease 1s;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      filter: brightness(120%);
    }
  }
  &Content {
    width: 62%;
    height: auto;
    border: 10px solid $color-tertiary;
    font-size: 20px;
    background-color: #b0d9cd;
    color: #836067;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
  }
  &University {
    background-image: url("../images/hexagon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-top: -35px;
  }
  &NH {
    background-image: url("../images/hexagon2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    margin-left: -10px;
  }
  &EurostarsPraga {
    background-image: url("../images/hexagon2 copy.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-top: -35px;
    margin-left: -10px;
  }
  &EurostarsMadrid {
    background-image: url("../images/hexagon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    margin-top: -35px;
    margin-left: -10px;
  }
  &EurostarsMadridRevenue {
    background-image: url("../images/hexagon2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    margin-top: -35px;
    margin-left: -10px;
  }
  &EurostarsMadridTMS {
    background-image: url("../images/hexagon2 copy.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 70px;
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: bold;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    margin-top: -35px;
    margin-left: -10px;
  }
  &GoldcarMadrid {
    background-image: url("../images/hexagon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-top: -35px;
    margin-left: -10px;
  }
  &Adalab {
    background-image: url("../images/hexagon2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    margin-top: -35px;
    margin-left: -10px;
  }
  &postAdalab {
    background-image: url("../images/hexagon2 copy.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-top: -35px;
    margin-left: -10px;
  }
  &Perspectives {
    background-image: url("../images/hexagon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    margin-top: -35px;
    margin-left: -10px;
  }
}

.bg_yellow {
  background-color: #f2e0d5;
}

.bg_red {
  background-color: #a65b698e;
  color: #f2e0d5;
}

.item_hovered {
  transform: scale(1.2);
  filter: brightness(120%);
}
