@import "./variables.scss";

.contact {
  flex-grow: 1;
  height: 92vh;
  width: 90%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 10% 45% 45%;
  grid-gap: 20px;
  padding: 0px 0px 0px 30px;
  &__section {
    display: flex;
    flex-direction: column;
    background-color: $color-tertiary;
    height: fit-content;
    width: 80%;
    padding: 15px;
    grid-column: 2/3;
    grid-row: 3/4;
    border-radius: 10px;
    justify-self: center;
    align-self: flex-start;
  }
  &__title {
    color: $color-secondary;
    font-size: 6vw;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/3;
    &ACC {
      color: #37493d;
    }
  }
  &__subtitle {
    color: $color-secondary;
    display: block;
    font-size: 2vw;
    text-align: right;
    margin-bottom: 1vh;
    &ACC {
      color: #537070;
    }
  }
  &__text {
    color: $color-secondary;
    display: block;
    line-height: 1;
    font-size: 1.5vw;
    margin-bottom: 1vh;
    &ACC {
      color: #506464;
    }
  }
  &__list {
    list-style-type: none;
    color: $color-secondary;
    display: flex;
    font-size: 1.3vw;
    justify-content: space-around;
    width: 100%;
    margin-right: 4vw;
    &ACC {
      color: #506464;
    }
    &Item {
      margin-top: 0.5vh;
      @media all and (min-width: 768px) {
        display: flex;
        flex-direction: column;
      }
    }
    &Github {
      @media all and (min-width: 768px) {
        grid-column: 1/2;
      }
    }
    &Linkedin {
      @media all and (min-width: 768px) {
        grid-column: 2/3;
      }
    }
    &Mail {
      @media all and (min-width: 768px) {
        grid-column: 3/4;
      }
    }
    &Twitter {
      @media all and (min-width: 768px) {
        grid-column: 4/5;
      }
    }
  }
  &__logoImg {
    width: 3vw;
    height: 4vh;
    transition: all linear 1s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.contact__menuList-access {
  text-decoration: none;
  color: $color-secondary;
  display: block;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    color: $color-secondary;
  }
  @media all and (min-width: 768px) {
    align-items: center;
  }
  &ACC {
    color: #506464;
  }
}

.contact__menu-home {
  list-style-type: none;
  text-transform: uppercase;
  position: absolute;
  right: 30px;
  top: 45vh;
  transition: all ease 1s;
  background-image: url("../images/long-arrow-alt-right-solid.svg");
  background-repeat: no-repeat;
  background-position-x: 2.6vw;
  background-position-y: 2.7vh;
  padding-right: 1.5vw;
  padding-bottom: 2vh;
  background-size: 1.5vw;
  &:hover {
    transform: scale(1.2);
  }

  &ACC {
    color: $color-tertiary-dark;
    background-image: url("../images/long-arrow-rightACC.svg");
  }
}

.contactLink__menu-home {
  text-decoration: none;
  color: $color-secondary;
  font-size: 1.5vw;
  &ACC {
    color: $color-tertiary-dark;
  }
}

.contact_trajectory {
  display: flex;
  flex-direction: column;
  grid-row: 2/4;
  grid-column: 1/2;
  align-self: center;
  height: 60vh;
  margin-left: 7vw;
  &Title {
    color: $color-secondary;
    font-size: 2vw;
    &ACC {
      color: black;
    }
  }
  &Container {
    display: flex;
    width: 85%;
    height: 10vh;
    justify-content: space-between;
    align-self: center;
    margin-top: 1vh;
  }
  &Item {
    list-style-type: none;
    color: $color-tertiary-dark;
    transition: all ease 1s;
    font-size: 1.5vw;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      filter: brightness(120%);
    }
  }
  &Content {
    width: 100%;
    border: 5px dashed #2f68687e;
    font-size: 1.3vw;
    background-color: #b0d9cd;
    color: #836067;
    padding: 20px;
    border-radius: 15px;
    margin-top: 3vh;
  }
  &University {
    background-image: url("../images/hexagon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 4vw;
    height: 7vh;
    padding: 1.3vw;
    display: flex;
    align-items: center;
    align-self: flex-start;
    font-weight: bold;
    text-align: center;
    justify-content: center;
  }
  &NH {
    background-image: url("../images/hexagon2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 4vw;
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 1.3vw;
    font-weight: bold;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    margin-left: -10px;
  }
  &EurostarsPraga {
    background-image: url("../images/hexagon2 copy.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 4vw;
    height: 7vh;
    padding: 1.3vw;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-left: -10px;
  }
  &EurostarsMadrid {
    background-image: url("../images/hexagon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 4vw;
    height: 7vh;
    padding: 1.3vw;
    display: flex;
    align-items: center;
    font-weight: bold;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    margin-left: -10px;
  }
  &EurostarsMadridRevenue {
    background-image: url("../images/hexagon2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 4vw;
    height: 7vh;
    padding: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    margin-left: -10px;
  }
  &EurostarsMadridTMS {
    background-image: url("../images/hexagon2 copy.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 4vw;
    height: 7vh;
    display: flex;
    padding: 1.3vw;
    align-items: center;
    font-weight: bold;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    margin-left: -10px;
  }
  &GoldcarMadrid {
    background-image: url("../images/hexagon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 4vw;
    height: 7vh;
    padding: 1.3vw;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-left: -10px;
  }
  &Adalab {
    background-image: url("../images/hexagon2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 4vw;
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 1.3vw;
    font-weight: bold;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    margin-left: -10px;
  }
  &postAdalab {
    background-image: url("../images/hexagon2 copy.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 4vw;
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 1.3vw;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-left: -10px;
  }
  &Perspectives {
    background-image: url("../images/hexagon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 4vw;
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 1.3vw;
    font-weight: bold;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    margin-left: -10px;
  }
}

.contact_trajectoryItemACC {
  background-image: url("../images/hexagonACC.svg");
}

.bg_yellow {
  background-color: #f2e0d5;
}

.bg_red {
  background-color: #a65b698e;
  color: #f2e0d5;
}

.item_hovered {
  transform: scale(1.2);
  filter: brightness(120%);
}

.contact__hobbies {
  background-image: url("../images/hexagon2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  color: #f2e0d5;
  font-size: 1.2vw;
  max-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 10% 10vw;
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: flex-start;
  align-self: flex-start;
  &Title {
    color: $color-tertiary-dark;
    font-size: 1.7vw;
    width: 60%;
  }
  &ACC {
    background-image: url("../images/hexagonACC.svg");
    color: black;
  }
}

.contact_trajectoryContentACC {
  background-color: #e3e4e5;
  color: black;
}

@media all and (max-width: 1024px) {
  .contact {
    height: 92vh;
    grid-template-columns: 100%;
    grid-template-rows: 10% 45% 22% 22%;
    grid-gap: 2vh;
    padding: 0px 30px 0px 30px;
    margin-left: 5%;
    &__section {
      width: 40vw;
      grid-column: 1/2;
      height: min-content;
      grid-row: 3/5;
      justify-self: start;
      align-self: center;
    }
    &__title {
      font-size: 12vw;
      margin-left: 0vw;
      margin-top: 0vh;
      text-align: center;
      grid-row: 1/2;
      grid-column: 1/2;
      &ACC {
        color: #37493d;
      }
    }
    &__subtitle {
      font-size: 4vw;
      margin-bottom: 5px;
      &ACC {
        color: #537070;
      }
    }
    &__text {
      line-height: 1;
      font-size: 2vw;
      margin-bottom: 1vh;
      &ACC {
        color: #506464;
      }
    }
    &__list {
      font-size: 1.5vw;
      justify-content: space-around;
      width: 100%;
      margin-right: 4vw;
      &ACC {
        color: #506464;
      }
    }
  }

  .contact__menu-home {
    top: 0px;
    right: 7vw;
    width: 15vw;
    height: 93%;
    background-image: url("../images/long-arrow-alt-right-solid.svg");
    background-repeat: no-repeat;
    background-position-x: 10vw;
    background-position-y: 100%;
    padding-right: 1.5vw;
    padding-bottom: 2vh;
    background-size: 5vw;
    display: flex;
    align-items: flex-end;
    &:hover {
      transform: scale(1.2);
    }
    &ACC {
      color: $color-tertiary-dark;
      background-image: url("../images/long-arrow-rightACC.svg");
    }
  }

  .contactLink__menu-home {
    font-size: 6vw;
    &ACC {
      color: $color-tertiary-dark;
    }
  }

  .contact_trajectory {
    padding: 0px;
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    width: 100%;
    height: min-content;
    margin: 2vh 0px 0px 0px;
    &Title {
      font-size: 3vw;
      &ACC {
        color: black;
      }
    }
    &Content {
      font-size: 2vw;
    }
    &University {
      width: 8vw;
      height: 5vh;
    }
    &NH {
      width: 8vw;
      height: 5vh;
    }
    &EurostarsPraga {
      width: 8vw;
      height: 5vh;
    }
    &EurostarsMadrid {
      width: 8vw;
      height: 5vh;
    }
    &EurostarsMadridRevenue {
      width: 8vw;
      height: 5vh;
    }
    &EurostarsMadridTMS {
      width: 8vw;
      height: 5vh;
    }
    &GoldcarMadrid {
      width: 8vw;
      height: 5vh;
    }
    &Adalab {
      width: 8vw;
      height: 5vh;
    }
    &postAdalab {
      width: 8vw;
      height: 5vh;
    }
    &Perspectives {
      width: 8vw;
      height: 5vh;
    }
  }

  .contact__hobbies {
    font-size: 1.8vw;
    max-height: 100%;
    width: 45vw;
    padding: 1vh 12vw;
    grid-row: 3/5;
    justify-self: end;
    align-self: flex-start;
    grid-column: 1/2;
    &Title {
      font-size: 2.5vw;
    }
  }
}

@media all and (max-width: 420px) {
  .contact {
    grid-template-columns: 100%;
    grid-template-rows: 10% 52% 20% 18%;
    padding: 0px 30px 5vh 30px;
    height: 92vh;
    grid-gap: 5px;
    &__section {
      width: 80%;
      grid-column: 1/2;
      grid-row: 4/5;
      justify-self: start;
    }

    &__subtitle {
      font-size: 4vw;
      margin-bottom: 0px;
      &ACC {
        color: #537070;
      }
    }
    &__text {
      line-height: 1;
      font-size: 2vw;
      margin-bottom: 0vh;
      &ACC {
        color: #506464;
      }
    }
    &__list {
      font-size: 1.8vw;
      justify-content: space-around;
      width: 100%;
      margin-right: 4vw;
      &ACC {
        color: #506464;
      }
    }
  }

  .contact__menuList-access {
    align-items: center;
  }

  .contact_trajectory {
    padding: 0px;
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    width: 100%;

    &Title {
      font-size: 3vw;
      &ACC {
        color: black;
      }
    }
    &Content {
      font-size: 2.3vw;
    }
    &University {
      width: 8vw;
      height: 4vh;
      font-size: 3.5vw;
    }
    &NH {
      width: 8vw;
      height: 4vh;
      font-size: 3.5vw;
    }
    &EurostarsPraga {
      width: 8vw;
      height: 4vh;
      font-size: 3.5vw;
    }
    &EurostarsMadrid {
      width: 8vw;
      height: 4vh;
      font-size: 3.5vw;
    }
    &EurostarsMadridRevenue {
      width: 8vw;
      height: 4vh;
      font-size: 3.5vw;
    }
    &EurostarsMadridTMS {
      width: 8vw;
      height: 4vh;
      font-size: 3.5vw;
    }
    &GoldcarMadrid {
      width: 8vw;
      height: 4vh;
      font-size: 3.5vw;
    }
    &Adalab {
      width: 8vw;
      height: 4vh;
      font-size: 3.5vw;
    }
    &postAdalab {
      width: 8vw;
      height: 4vh;
      font-size: 3.5vw;
    }
    &Perspectives {
      width: 8vw;
      height: 4vh;
      font-size: 3.5vw;
    }
  }

  .contact__hobbies {
    font-size: 1.9vw;
    max-height: 100%;
    width: 38vw;
    padding: 3% 8vw;
    grid-row: 3/4;
    justify-self: end;
    grid-column: 1/2;
  }
}
