.footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  border-top: 1.3px solid #87a0a050;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  &__menuList {
    display: flex;
    &-github {
      background-image: url("../images/github-alt-brands.svg");
      background-repeat: no-repeat;
      text-decoration: none;
      list-style-type: none;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      transition: all ease 1s;
      &:hover {
        transform: scale(1.2);
      }
    }
    &-linkedin {
      background-image: url("../images/linkedin-in-brands.svg");
      background-repeat: no-repeat;
      text-decoration: none;
      list-style-type: none;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      transition: all ease 1s;
      &:hover {
        transform: scale(1.2);
      }
    }
    &-mail {
      background-image: url("../images/envelope-solid.svg");
      background-repeat: no-repeat;
      text-decoration: none;
      list-style-type: none;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      transition: all ease 1s;
      &:hover {
        transform: scale(1.2);
      }
    }
    &-twitter {
      background-image: url("../images/twitter-brands.svg");
      background-repeat: no-repeat;
      text-decoration: none;
      list-style-type: none;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      transition: all ease 1s;
      &:hover {
        transform: scale(1.2);
      }
    }
    &-access {
      padding: 10px;
    }
  }
  &__small {
    color: #87a0a0;
    font-size: 15px;
    display: flex;
    line-height: 1.2;
    &Logo {
      background-image: url(../images/cat-solid.svg);
      background-repeat: no-repeat;
      width: 15px;
      margin: 0px 5px;
    }
  }
}
