@import "../stylesheets/variables.scss";

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5vh 1.5vw;
  border-top: 1.3px solid $color-secondary;
  height: 3vh;
  width: 100%;
  &ACC {
    border-top: 1.3px solid $color-tertiary-dark;
  }
  &__menuList {
    display: flex;
    &-github {
      background-image: url("../images/Social-Footer/github.svg");
      background-repeat: no-repeat;
      text-decoration: none;
      list-style-type: none;
      width: 2.8vh;
      height: 1.7vh;
      transition: all ease 1s;
      &:hover {
        transform: scale(1.2);
      }
      &ACC {
        background-image: url("../images/Social-Footer/githubACC.svg");
      }
    }
    &-linkedin {
      background-image: url("../images/Social-Footer/linkedin.svg");
      background-repeat: no-repeat;
      text-decoration: none;
      list-style-type: none;
      width: 2.8vh;
      height: 1.7vh;
      transition: all ease 1s;
      &:hover {
        transform: scale(1.2);
      }
      &ACC {
        background-image: url("../images/Social-Footer/linkedinACC.svg");
      }
    }
    &-mail {
      background-image: url("../images/Social-Footer/envelope.svg");
      background-repeat: no-repeat;
      text-decoration: none;
      list-style-type: none;
      width: 2.8vh;
      height: 1.7vh;
      transition: all ease 1s;
      &:hover {
        transform: scale(1.2);
      }
      &ACC {
        background-image: url("../images/Social-Footer/envelopeACC.svg");
      }
    }
    &-twitter {
      background-image: url("../images/Social-Footer/twitter.svg");
      background-repeat: no-repeat;
      text-decoration: none;
      list-style-type: none;
      width: 2.8vh;
      height: 1.7vh;
      transition: all ease 1s;
      &:hover {
        transform: scale(1.2);
      }
      &ACC {
        background-image: url("../images/Social-Footer/twitterACC.svg");
      }
    }
    &-codepen {
      background-image: url("../images/Social-Footer/codepen.svg");
      background-repeat: no-repeat;
      text-decoration: none;
      list-style-type: none;
      width: 2.8vh;
      height: 1.7vh;
      transition: all ease 1s;
      &:hover {
        transform: scale(1.2);
      }
      &ACC {
        background-image: url("../images/Social-Footer/codepenACC.svg");
      }
    }
    &-access {
      padding: 10px;
    }
  }
  &__small {
    color: $color-secondary;
    font-size: 1.5vh;
    display: flex;
    line-height: 1.2;
    &Logo {
      background-image: url("../images/Social-Footer/cat.svg");
      background-repeat: no-repeat;
      width: 1.6vh;
      margin: 0px 5px;
      &ACC {
        background-image: url("../images/Social-Footer/catACC.svg");
      }
    }
    &ACC {
      color: #334238;
    }
  }
}
