@import "../stylesheets/variables.scss";

.header {
  height: 4vh;
  width: 100%;
  z-index: 999;
  background-color: $color-neutral-lowOpacity;
  display: flex;
  align-items: center;
}

.header__menu {
  padding: 0vh 1.5vw;
  height: 5vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  &-lang {
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 1.3vw;
    color: $color-secondary-fullOpacity;
    text-decoration: none;
    transition: all ease 1s;
    outline: none;
    cursor: hand;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
    &ACC {
      color: #4c7272;
      &:hover {
        transform: scale(1.2);
        color: #364a4e;
      }
    }
    @media all and(max-width: 1024px) {
      font-size: 3vh;
    }
  }
  &-acc {
    background-image: url("../images/Menus/toggleOff.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    height: 3vh;
    width: 4vh;
    outline: none;
    border: none;
    cursor: hand;
    cursor: pointer;
    &Active {
      background-color: #e3e4e5;
      border-radius: 20%;
      height: 3vh;
      padding: 0px 1vw;
      font-size: 1vw;
      box-shadow: 1px 1px 1px black;
      outline: none;
      border: none;
      cursor: hand;
      cursor: pointer;
      transition: all ease 1s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
