.header {
  height: 30px;
  width: 100%;
  position: absolute;
  top: 0px;
}

.header__menu {
  padding: 10px 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  &-lang {
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #465559;
    text-decoration: underline;
    transition: all ease 1s;
    &:hover {
      transform: scale(1.2);
      color: #97b3b9;
    }
  }
  &-pages {
    display: flex;
    width: auto;
    justify-content: space-between;
    color: #465559;
  }
  &-about,
  &-projects,
  &-contact,
  &-home {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    text-decoration: underline;
    color: #465559;
    transition: all ease 1s;
    &:hover {
      transform: scale(1.2);
      color: #97b3b9;
    }
  }
}
