* {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
html {
  overflow: hidden;
}
