.landing {
  padding: 30px 180px 40px 180px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    width: 60%;
    position: relative;
    padding-top: 90px;
  }
  &__photo {
    width: 150px;
    border-radius: 75px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  &__title {
    color: #bfd1c5;
    font-weight: 900;
    font-size: 80px;
    line-height: 1.4;
  }
  &__textOne {
    color: #87a0a0;
    font-weight: 700;
    font-size: 30px;
    display: block;
    line-height: 1.3;
    margin-right: 180px;
    text-align: right;
  }
  &__textTwo {
    color: #778b8b;
    font-weight: 700;
    font-size: 30px;
    display: block;
    line-height: 0.4;
    text-align: right;
    margin-bottom: 30px;
  }
  &__aboutText {
    width: 120%;
    margin-left: -5%;
    font-weight: 400;
    font-size: 19px;
    color: #92a2a6;
  }
  &__menu-projects {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: underline;
    transition: all ease 1s;
    position: absolute;
    color: #92a2a6;
    right: 70px;
    &:hover {
      transform: scale(1.2);
      color: #97b3b9;
    }
    &::after {
      background-image: url("../images/angle-right-solid.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -21px;
      display: inline-block;
      width: 40px;
      height: 100px;
      content: "";
      transform: scaleX(0.8);
    }
  }
  &__menu-contact {
    position: absolute;
    list-style-type: none;
    text-decoration: underline;
    color: #778b8b;
    left: 40px;
  }
}

.about__parr {
  display: block;
  line-height: 1.3;
  margin-bottom: 10px;
}

.landingLink__menu-projects {
  color: #9ac4c1;
}
