@import "./variables.scss";

* {
  margin: 0px;
  padding: 0px;
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 15px 100px 15px;
  &__container {
    height: 60vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  &__photo {
    border-radius: 30%;
    width: 40%;
    opacity: 0.8;
  }
  &__text {
    margin-top: -80px;
    margin-left: 60px;
    z-index: 99;
  }
  &__title {
    color: $color-secondary;
    line-height: 1.4;
    font-size: 16em;
    margin-top: -80px;
    z-index: 99;
  }

  &__textOne {
    color: $color-secondary;
    font-weight: 700;
    line-height: 1.3;
    display: block;
    font-size: 5em;
    width: 150%;
    &ACC {
      color: #537070;
    }
  }
  &__textTwo {
    color: $color-secondary;
    font-weight: 700;
    line-height: 0.4;
    display: block;
    font-size: 3em;
    margin-left: 20px;
    z-index: 99;
    &ACC {
      color: #384d4d;
    }
  }
  &__menu-projects {
    list-style-type: none;
    text-transform: uppercase;
    background-image: url("../images/long-arrow-alt-right-solid.svg");
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 85px;
    padding-right: 30px;
    transition: all ease 1s;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__menu-contact {
    list-style-type: none;
    text-transform: uppercase;
    background-image: url("../images/long-arrow-alt-left-solid.svg");
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 6px;
    padding-left: 30px;
    transition: all ease 1s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.landingLink__menu-projects,
.landingLink__menu-contact {
  text-decoration: none;
  color: $color-secondary;
  font-weight: 700;
  font-size: 25px;
}

.landing__titleACC {
  color: #37493d;
}

.nav__menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  width: 97%;
  height: 80px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
