.projects {
  padding: 15px 15px 150px 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    padding: 0px 180px 30px 180px;
  }
  &__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    @media all and (min-width: 768px) {
      display: block;
      width: 80%;
    }
    @media all and (min-width: 1054px) {
      width: 60%;
    }
  }
  &__title {
    color: #bfd1c5;
    font-weight: 900;
    font-size: 60px;
    align-self: flex-start;
    @media all and (min-width: 768px) {
      align-self: unset;
      font-size: 80px;
      line-height: 1.4;
      margin-left: -50px;
    }
  }
  &__previewImage {
    width: 100%;
    height: 35%;
    background-image: url("../images/preview.png");
    background-size: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position-x: center;
    z-index: 10;
    margin-bottom: 10px;
    filter: grayscale(80%);
    @media all and (min-width: 768px) {
      height: 45%;
      margin-bottom: 0px;
      width: 96%;
    }
    @media all and (min-width: 1054px) {
      position: absolute;
      top: 10px;
      z-index: 10;
      height: 25%;
      transition: all ease-out 1s;
    }
    &:hover {
      @media all and (min-width: 1054px) {
        filter: none;
        height: 94%;
        width: 96%;
      }
    }
  }
  &__decoration {
    width: 90%;
    height: 350px;
    background-color: #ebcaca5b;
    padding: 10px;
    position: relative;
    @media all and (min-width: 768px) {
      width: 120%;
      height: 70%;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      right: -20px;
      flex-wrap: nowrap;
      box-sizing: border-box;
    }
    @media all and (min-width: 934px) {
      padding: 25% 10px 10px 10px;
      width: 90%;
      right: -50px;
      height: auto;
    }
  }
  &__previewTitle {
    color: #87a0a0;
    font-weight: 600;
    @media all and (min-width: 768px) {
      font-size: 45px;
      line-height: 1.2;
      text-transform: uppercase;
      z-index: 9;
      margin-bottom: 10px;
    }
  }
  &__previewDescription {
    color: #465a5a;
    font-weight: 400;
    @media all and (min-width: 768px) {
      font-size: 18px;
      width: 90%;
      margin-bottom: 10px;
    }
  }
  &__previewPrevious {
    left: 0px;
    top: 105%;
    transition: all ease 1s;
    outline: none;
    background-image: url("../images/arrow-alt-circle-left-solid.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    @media all and (min-width: 1054px) {
      left: -45px;
      top: 45%;
    }
    &:hover {
      transform: scale(1.2);
      filter: brightness(130%);
    }
  }
  &__previewNext {
    transition: all ease 1s;
    outline: none;
    background-image: url("../images/arrow-alt-circle-right-solid.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: transparent;
    border: none;
    right: 0px;
    top: 105%;
    @media all and (min-width: 1054px) {
      right: -45px;
      top: 45%;
    }
    &:hover {
      transform: scale(1.2);
      filter: brightness(130%);
    }
  }
}

.projects__menu-home {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 18px;
  transition: all ease 1s;
  position: absolute;
  bottom: 70px;
  &::before {
    background-image: url("../images/angle-left-solid.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    left: -30px;
    width: 40px;
    height: 50px;
    content: "";
    transform: scaleX(0.8);
  }
  @media all and (min-width: 768px) {
    font-size: 20px;
    left: 70px;
    bottom: initial;
    &:hover {
      transform: scale(1.2);
      color: #bfd1c5;
    }
    &::before {
      top: -24px;
      left: -40px;
      width: 40px;
      height: 100px;
    }
  }
}

.projectsLink__menu-home {
  color: white;
  text-decoration: none;
  background-color: rgba(191, 209, 197, 0.5);
  border-radius: 15px;
  padding: 5px;
  @media all and (min-width: 768px) {
    padding: 10px;
  }
}

.projects__previewMenuLink {
  text-decoration: none;
  color: transparent;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 30px;
  height: 30px;
  background-color: #87a0a0;
  border-radius: 20px;
  display: inline-block;
  transition: 1s ease all;
  @media all and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
  &Page {
    background-image: url("../images/laptop-solid.svg");
    margin-right: 5px;
    @media all and (min-width: 768px) {
      margin-right: 10px;
    }
  }
  &Repo {
    background-image: url("../images/code-solid.svg");
  }
  &:hover {
    transform: scale(1.2);
  }
}

.projects__previewMenuItem {
  list-style-type: none;
}
.projects__previewMenuList {
  display: flex;
}

.projects__previewMenu {
  @media all and (min-width: 768px) {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
}
