@import "./variables.scss";

@keyframes showProjectInfo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.projects {
  padding: 0px 3vw 4vh 5vw;
  height: 92vh;
  width: 100%;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 10% 40% 50%;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 55vh;
    justify-content: space-between;
    grid-row: 2/3;
    grid-column: 3/4;
    &GITHUB {
      height: 80%;
      max-height: 100%;
      width: 80%;
      position: relative;
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-rows: 100%;
      border-radius: 15px;
      overflow: hidden;
      &-info {
        grid-column: 1/2;
        display: grid;
        height: 100%;
        width: 90%;
        grid-template-rows: 60% 10% 30%;
        grid-template-columns: 100%;
        justify-self: center;
        &Show {
          animation: showProjectInfo ease 1s;
        }
        &Banner {
          grid-column: 1/2;
          grid-row: 2/3;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: $color-tertiary;
          padding: 0px 5%;
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        grid-column: 2/3;
        justify-self: center;
        height: 100%;
        width: 100%;
        border-left: $color-secondary 0.1vh dotted;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      &-title {
        width: 100%;
        position: relative;
        font-size: 3vh;
        text-decoration: none;
        list-style-type: none;
        color: $color-secondary;
        border-left: solid transparent 5px;
        padding: 1vh;
        cursor: pointer;
        &Main {
          color: $color-secondary-fullOpacity;
          border-left: solid $color-secondary 5px;
        }
      }
      &-img {
        opacity: 0.8;
        display: block;
        width: 100%;
        &Container {
          grid-column: 1/3;
          grid-row: 1/2;
          overflow: hidden;
          width: 60%;
          height: 80%;
          transition: all ease 3s;
          justify-self: center;
          align-self: center;
        }
      }
      &-description {
        font-size: 1.4vh;
        color: $color-dark;
        grid-column: 1/3;
        grid-row: 3/4;
        transition: all ease 3s;
        width: 90%;
        justify-self: center;
        align-self: center;
        font-family: "Architects Daughter", cursive;
      }
      &-technologies {
        font-size: 1.4vh;
        color: $color-secondary-fullOpacity;
        transition: all ease 3s;
        text-align: right;
        font-family: "Architects Daughter", cursive;
      }
      &-links {
        color: transparent;
        transition: all ease 3s;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Architects Daughter", cursive;
      }
      &-linkOne {
        text-decoration: none;
        color: transparent;
        background-image: url("../images/Projects/demo.svg");
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
          transform: scale(1.2);
        }
      }
      &-linkTwo {
        text-decoration: none;
        color: transparent;
        background-image: url("../images/Projects/repository.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  &__title {
    color: $color-secondary;
    font-size: 6vw;
    margin-left: 5vw;
    margin-top: 3vh;
    width: 100%;
    grid-row: 1/2;
    align-self: center;
    &ACC {
      color: #37493d;
    }
  }
}

.projects__menu-home {
  list-style-type: none;
  text-transform: uppercase;
  background-image: url("../images/Menus/longArrowLeft.svg");
  background-repeat: no-repeat;
  background-size: 1.5vw;
  background-position-x: 0.3vw;
  background-position-y: 2.7vh;
  height: 50px;
  padding-left: 1.5vw;
  transition: all ease 1s;
  position: absolute;
  left: 30px;
  top: 45vh;
  &:hover {
    transform: scale(1.2);
  }
  &ACC {
    background-image: url("../images/Menus/longArrowLeftACC.svg");
  }
}

.projectsLink__menu-home {
  text-decoration: none;
  color: $color-secondary;
  font-weight: 700;
  font-size: 1.5vw;
  &ACC {
    color: $color-tertiary-dark;
  }
}

.projects__containerSelector {
  width: 75%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  font-size: 1.5vw;
  margin-bottom: 2vh;

  &App {
    cursor: pointer;
    transition: all ease 1s;
    color: $color-secondary;
    width: fit-content;
    height: 0px;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: 40px solid $color-tertiary;
    text-align: center;
    &:active {
      color: $color-neutral-auxiliar;
      border-bottom: 40px solid #b38c91;
    }
    &:hover {
      color: $color-neutral-auxiliar;
      border-bottom: 40px solid #b38c91;
    }
  }
  &CSS {
    cursor: pointer;
    transition: all ease 1s;
    color: $color-secondary;
    width: fit-content;
    height: 0px;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: 40px solid $color-tertiary;
    text-align: center;
    margin-left: -10%;
    &:active {
      color: $color-neutral-auxiliar;
      border-bottom: 40px solid #b38c91;
    }
    &:hover {
      color: $color-neutral-auxiliar;
      border-bottom: 40px solid #b38c91;
    }
  }
  &Selected {
    color: $color-neutral-auxiliar;
    border-bottom: 40px solid #b38c91;
    z-index: 99;
  }
}

.hidden {
  display: none;
  opacity: 0;
}

.projects__stack {
  height: 90%;
  width: 35vw;
  grid-row: 2/4;
  grid-column: 2/3;
  position: relative;
  justify-self: flex-end;
  align-self: flex-end;
}

.projects__stackTech {
  background-image: url("../images/Hexagons/hexagonSecColor.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  color: #f2e0d5;
  font-size: 1.3vw;
  text-align: center;
  height: auto;
  width: 60%;
  padding: 2vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &ACC {
    background-image: url("../images/Hexagons/hexagonACC.svg");
    color: black;
  }
  &Title {
    font-size: 2vw;
  }
  &Text {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin-top: 10px;
    &-itemA {
      font-size: 1.5vw;
      color: $color-primary;
      margin-right: 1vw;
      align-self: flex-start;
    }
    &-itemB {
      font-size: 1.4vw;
      color: $color-tertiary-dark;
      margin-right: 1vw;
    }
    &-itemC {
      font-size: 1.4vw;
      color: $color-secondary-fullOpacity;
      margin-right: 1vw;
      align-self: flex-start;
    }
    &-itemD {
      font-size: 1.9vw;
      color: $color-tertiary-dark;
      margin-right: 1vw;
      align-self: flex-end;
    }
    &-itemE {
      font-size: 1.3vw;
      color: $color-secondary-fullOpacity;
      margin-right: 1vw;
      align-self: flex-start;
    }
    &-itemF {
      font-size: 1.9vw;
      color: $color-primary;
      margin-right: 1vw;
      align-self: flex-end;
    }
    &-itemG {
      font-size: 1.5vw;
      color: $color-secondary-fullOpacity;
      margin-right: 1vw;
      align-self: flex-start;
    }
    &-itemH {
      font-size: 1.9vw;
      color: $color-tertiary-dark;
      margin-right: 1vw;
    }
    &-itemI {
      font-size: 1.9vw;
      color: $color-primary;
      margin-right: 1vw;
    }
  }
}

.projects__stackLang {
  background-image: url("../images/Hexagons/hexagonMainColor.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  color: #f2e0d5;
  font-size: 1.3vw;
  text-align: center;
  height: auto;
  width: 60%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &ACC {
    background-image: url("../images/Hexagons/hexagonACC.svg");
    color: black;
  }
  &Title {
    font-size: 2vw;
  }
  &Text {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin-top: 10px;
    &-itemA {
      font-size: 1.5vw;
      color: $color-primary;
      margin-right: 1vw;
      align-self: flex-start;
    }
    &-itemB {
      font-size: 1.4vw;
      color: $color-tertiary-dark;
      margin-right: 1vw;
    }
    &-itemC {
      font-size: 1.4vw;
      color: $color-secondary-fullOpacity;
      margin-right: 1vw;
      align-self: flex-start;
    }
    &-itemD {
      font-size: 1.9vw;
      color: $color-tertiary-dark;
      margin-right: 1vw;
      align-self: flex-end;
    }
    &-itemE {
      font-size: 1.3vw;
      color: $color-secondary-fullOpacity;
      margin-right: 1vw;
      align-self: flex-start;
    }
    &-itemF {
      font-size: 1.9vw;
      color: $color-primary;
      margin-right: 1vw;
      align-self: flex-end;
    }
    &-itemG {
      font-size: 1.5vw;
      color: $color-secondary-fullOpacity;
      margin-right: 1vw;
      align-self: flex-start;
    }
  }
}

@media all and (max-width: 1024px) {
  .projects {
    padding: 0px 3vw 0vh 5vw;
    grid-template-rows: 10% 50% 40%;
    grid-template-columns: 100%;
    grid-gap: 1vw;
    &__container {
      grid-row: 2/3;
      grid-column: 1/2;
      align-self: start;
      height: 100%;
      justify-content: center;
      &GITHUB {
        height: 70%;
      }
      &CODEPEN {
        height: min-content;
      }
    }
    &__title {
      font-size: 12vw;
      margin-left: 0vw;
      margin-top: 0vh;
      text-align: center;
    }
  }

  .projects__menu-home {
    top: 0px;
    left: 7vw;
    width: 15vw;
    height: 93%;
    background-position-x: 1vw;
    background-position-y: 100%;
    padding-left: 5vw;
    padding-bottom: 2vh;
    background-size: 5vw;
    display: flex;
    align-items: flex-end;
  }

  .projectsLink__menu-home {
    font-size: 6vw;
  }

  .projects__containerSelector {
    font-size: 3vw;
    &-hexagonPlayground {
      padding: 0px 8vw 0.3vh 1vw;
    }
    &-hexagon {
      width: 3vw;
    }
  }

  .projects__stack {
    height: 30vh;
    width: 70%;
    margin-left: 0vw;
    margin-bottom: 0vh;
    grid-row: 3/4;
    grid-column: 1/2;
    flex-direction: row;
    justify-content: center;
    justify-self: end;
    align-self: flex-start;
  }

  .projects__stackTech {
    height: auto;
    width: 60%;
    padding: 2vh 7vw;
    &Title {
      font-size: 4vw;
    }
    &Text {
      &-itemA {
        font-size: 2.5vw;
      }
      &-itemB {
        font-size: 2.4vw;
      }
      &-itemC {
        font-size: 2.4vw;
      }
      &-itemD {
        font-size: 2.9vw;
      }
      &-itemE {
        font-size: 2.3vw;
      }
      &-itemF {
        font-size: 2.9vw;
      }
      &-itemG {
        font-size: 2.5vw;
      }
      &-itemH {
        font-size: 2.9vw;
      }
      &-itemI {
        font-size: 2.9vw;
      }
    }
  }

  .projects__stackLang {
    height: auto;
    width: 60%;
    padding: 2vh 7vw;
    &Title {
      font-size: 4vw;
    }
    &Text {
      &-itemA {
        font-size: 2.5vw;
      }
      &-itemB {
        font-size: 2.4vw;
      }
      &-itemC {
        font-size: 2.4vw;
      }
      &-itemD {
        font-size: 2.9vw;
      }
      &-itemE {
        font-size: 2.3vw;
      }
      &-itemF {
        font-size: 2.9vw;
      }
      &-itemG {
        font-size: 2.5vw;
      }
    }
  }
}

@media all and (max-width: 420px) {
  .projects {
    grid-template-rows: 10% 55% 35%;
  }

  .projects__containerSelector {
    font-size: 3vw;
    &-hexagonPlayground {
      padding: 0px 8vw 0vh 1vw;
      margin-bottom: 0px;
    }
    &-hexagon {
      width: 3vw;
    }
  }

  .projects__stack {
    height: 100%;
    width: 70%;
    margin-left: 0vw;
    margin-top: -2vh;
    grid-row: 3/4;
    grid-column: 1/2;
    padding: 3vh;
    position: relative;
    justify-self: flex-end;
  }

  .projects__stackTech {
    height: 15vh;
    width: 20vh;
    padding: 2vh 5vw;
    align-self: flex-end;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .projects__stackLang {
    height: 15vh;
    width: 20vh;
    padding: 2vh 5vw;
    align-self: flex-end;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}
