$color-primary: #627577;
$color-secondary: #a65b698e;
$color-tertiary: #b0d9cd91;

$color-tertiary-dark: #2f6868;
$color-dark: #183d3d;
$color-neutral-auxiliar: #f2e0d5;
$color-neutral-lowOpacity: #f2e0d5bb;
$color-secondary-fullOpacity: #a65b69;
$color-tertiary-fullOpacity: #87adb1;

$font-texts: "Montserrat Alternates", sans-serif;

//Font sizes

//Desktop:
$font-textSize: 2vh;
$font-titleSize: 4vh;
$font-midTitleSize: 2.4vh;

//Ipad (420- 1024px width):
$font-textSizeM: 1.6vh;
$font-titleSizeM: 2.9vh;
$font-midTitleSizeM: 2.4vh;

$font-textSizeS: 1.3vh;
$font-titleSizeS: 2.8vh;
$font-midTitleSizeS: 2.25vh;
