$color-primary: #627577;
$color-secondary: #a65b698e;
$color-tertiary: #b4d9d962;

$color-tertiary-dark: #2f6868;
$color-dark: #183d3d;
$color-neutral-auxiliar: #f2e0d5;
$color-neutral-lowOpacity: #f2e0d538;
$color-secondary-fullOpacity: #a65b69;

$font-texts: "Montserrat Alternates", sans-serif;
